@font-face {
    font-family: "Roboto-Regular";

}

.WeekdayWrapper {
    border: 1px black solid;
    border-radius: 20px;
    padding: 15px 30px 30px 30px;
    margin: 15px 10px 15px 10px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day {
    color: black;
    font-size: var(--big-font);
    font-weight: bold;
}

.day p {
    padding: 0;
    margin: 0 0 15px 0;
}
