.button {
    padding: 15px 30px;
    width: 100%;
    border-radius: 10px;
    color: white;
    box-shadow: none;
    border: none;
    font-weight: bold;
    font-size: var(--med-font);
    text-decoration: none;
    cursor: pointer;
}

.red {
    background: var(--lightRed);

}

.black {
    background: black;
    margin-top: 10px;

}

.green {
    background: var(--darkGreen);
}

.smaller {
    font-size: 12px;
}
