.toggleSettingsButton {
    position: fixed;
    right: 0;
    padding: 15px 30px;
    border-radius: 10px;
    background: black;
    display: flex;
    bottom: 0;
    margin: 0 10px 10px 0;
}


.toggleSettingsButtonSpan {
    cursor: pointer;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
