.plusIcon {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    top: 0;
    background: var(--lightRed);
    border-radius: 100%;
    display: flex;
    margin: 10px 10px 0 0;

}

.plusSpan {
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: var(--big-font);
}
